<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Group03_MilkTeaShop.Properties.Settings.MilkTeaShopConnectionString"
            connectionString="Data Source=DESKTOP-42L3GL9;Initial Catalog=MilkTeaShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>